body {
    background-color: rgb(7, 73, 8);
}

.blockimage img {
    width: 200px;
    height: 200px;
}

.blockimageshoes img {
    width: 300px;
    height: 200px;
}

.icone {
    display: flex;
    justify-content: space-around;
}

.produits {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.prix {
    color: rgb(173, 17, 69);
}

.box-moins {
    width: 60px;
    height: 30px;
    background-color: bisque;
}

.box-plus {
    width: 60px;
    height: 30px;
    background-color: bisque;
}

.box {
    width: 70px;
    height: 30px;
    border-radius: 75px;
}

.prixtotal {
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    border-color: brown;
    color: blue;
}

.fa-thumbs-up {
    color: brown;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.fa-trash-can {
    color: brown;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}